@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}

body {
    width: 100%;
    height: auto;
    background-color: #CFD2CF;
}

.container {
    background-color: #F0EBE3;
    width: 1240px;
    max-height: 1754px;
    margin: 40px auto;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.42);
    padding: 0 15px;
    padding-bottom: 15px;
}

.sinir{
    border: 1px solid #898AA6;
}

.up {
    display: flex;
    background: linear-gradient(to right , #F0EBE3 , #CBA0AE , #F0EBE3  ) ;
    background: linear-gradient(to left , #F0EBE3 , #CBA0AE , #F0EBE3  ) ; 
    /* background: -webkit-linear-gradient(#F0EBE3 20%, #F0EBE3 20%, #CBA0AE 60% );
    background: -o-linear-gradient(#F0EBE3 20%, #F0EBE3 20%, #CBA0AE 60%);
    background: -moz-linear-gradient(#F0EBE3 20%, #F0EBE3 20%, #CBA0AE 60%); */
    /* background: linear-gradient(#F0EBE3 , #CBA0AE , #F0EBE3) ;  */
    padding-top: 15px;

}

.up-left {
    width: 300px;
    height: 320px;
}

.up-left img {
    width: 95%;
    height: 95%;
    border-radius: 50%;
}

.up-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    
}

.up-right div{
    width: 100%;
}

.up-right h2 {
    font-weight: bold;
    margin: 5px 5px;
    font-size: 2rem;
    color: #513252;
}

.up-right p {
    text-align: justify;
    line-height: 1.2;
    color: #331e34;
    margin: 0 2px;
}

.up-right h3{
    font-size: 1.3rem;
    font-weight: bold;
   color: #3f263f;
}

.up-right hr{
    width: 200px;
    height: 1px;
    margin-bottom: 10px;
    background-color: #3f263f; 
    border: none;
}

.up-right-i{
    font-weight: bold;
    font-size: 22px;
    color: #495C83;
}

.down {
    padding: 20px;
    width: 100%;
    height: 90%;
    display: flex;
}

.down-left {
    width: 302px;
    border-right: 2px solid #898AA6;
}

.down-right {
    flex: 1;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    margin-left: 40px;
    
}

.contact,
.skills,
.languages, .down-right-items, .down-right-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.contact-item {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.contact-icons {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.links {
    text-align: justify;
    flex: 1;
}

.links a {
    text-decoration: none;
    color: #16003B;
    cursor: pointer;
}

.left-baslik {
    margin: 20px 0;
    align-items: center;
    text-align: center;
}

.left-baslik h3, .right-baslik h3 {
    font-size: 1.3rem;
}

.skills-box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skills-item{
    background-color: #826F66;
    color: #F7E2E2;
    padding: 8px 10px;
    border-radius: 20px;
}

.language-items{
    width: 100%;
   margin-bottom: 20px;
}

.lang-item{
    font-size: 16px;
    color: #171515;
    margin-bottom: 10px;
}

.lang-detail{
    font-size: 14px;
    color: rgb(96, 94, 94);
    padding-left: 10px;
}

.right-baslik{
    text-align: center;
    margin: 20px 0;
}

.right-baslik hr, .left-baslik hr{
    width: 200px;   
}

#collage {
    font-weight: bold;
    font-size: 1rem;
    
}

#branch, #graduated, #exp-date-item{
    font-weight: bold;
    font-size: .9rem;
}

#exp-date-item{
    font-size: 12px;
    color: rgb(118, 116, 116);
}

#projects-links{
text-decoration: none;
color: #3f263f;
}
    
.language-items ul li, .language-items ul p {
    margin-bottom: 10px;
}







